@import "src/services/theme.scss";

.howItWorks {
  padding: 50px 0;
}

.itemWrapper {
  padding: 30px 30px 15px;
}

.itemContent {
  min-width: 300px;
}

.itemStep {
  padding-right: 10px;
  font-size: 24px;
  font-weight: 400;
}

.itemImg {
  border-radius: 3000px;
  background-color: #304269;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  border-style: solid;
  width: 100px;
  height: 100px;
}
