.whyNeedSession {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.list {
  padding: 30px 0;
}

.listItem {
  padding: 15px;
}

.itemSubtitle {
  padding-bottom: 15px;
}

.itemParagraph {
  text-align: left;
  padding-bottom: 15px;
}
