$color-dark-bg: #282c34;
$color-grey-bg: #f5f5f5;
$color-secondary-main: rgb(248, 92, 80);

$screen-gt-xs: '(min-width: 0px)';
$screen-gt-sm: '(min-width: 600px)';
$screen-gt-md: '(min-width: 960px)';
$screen-gt-lg: '(min-width: 1280px)';
$screen-gt-xl: '(min-width: 1920px)';
